.app {
  display: flex;
  text-align: center;
  background-color: #F5F6FA;
  height: 100vh;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

  /* background-color: #061A37; */
}

.homepage {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  color: #051C3F;
}