.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  color: #233558;
}

h1 {
  margin: 0;
  color: #051C3F;
}

/* QUESTION */

.question-base {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
}

.question-category {
  background-color: #233A59;
  color: white;
  border-radius: 0.25rem;
  padding: 1rem;


  font-weight: 700;
  font-size: 0.75rem;
  display: inline-block;
  align-self: flex-end;
}

.question-category.is-saved {
  background-color: #21C774;
}

.question-category.is-saved:before {
  content: '✔︎ ';
}

.question-category.is-loading:after {
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

@keyframes spinAround {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.question {
  display: flex;
  flex-direction: column;
}

.question-content > * {
  margin: 1rem 0;
}

.available-answers {
  display: flex;
  justify-content: space-between;
}

.answer-option {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.answer-option input {
  margin-bottom: 0.5rem;
  display: none;
}

input[type=radio]:focus ~ label {
  border-color: #16C9FF;
}

input[type=radio]:checked ~ label {
  background-color: #233558;
  border-color: #233558;
}

.answer-option label {
  margin: auto;
  height: 2rem;
  width: 2rem;
  content: '';
  border-radius: 2rem;
  border: 2px solid #233558;
  background-color: white;
}

.answer-option.neutral label {
  height: 1.5rem;
  width: 1.5rem;
}

.answer-option.slightly label {
  height: 1.7rem;
  width: 1.7rem;
}

.answer-option.relatively label {
  height: 1.9rem;
  width: 1.9rem;
}

.answer-option.fully label {
  height: 2.1rem;
  width: 2.1rem;
}

.scale {
  display: flex;
  justify-content: space-between;
}

.scale div {
  flex-basis: 0;
  flex-grow: 1;
}

.scale-left {
  text-align: left;
}

.scale-right {
  text-align: right;
}

.description {
  background: #F7F9FC;
  padding: 1rem;

  border-radius: 0 0 0.5rem 0.5rem;
}

.survey-progress {
  background-color: #F5F6FA;

  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
}

.progress-container {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
}

.progression-bar {

  height: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.progression {
  background: linear-gradient(-90deg, #FF004E, #FF2222);
  height: 1rem;
  border-radius: 1rem;
}

/* Survey page */
.start-survey {
  flex-grow: 1;
  padding: 2rem;
  font-size: 1rem;

  text-align: left;
}

.start-survey h1 {
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

.start-survey-button {
  display: inline-block;
  background: linear-gradient(-90deg, #FF004E, #FF2222);
  padding: 1rem;
  border-radius: 0.2rem;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

/* SwipeIcon */
.swipe-icon {
  margin: auto;
  display: flex;
  max-width: 40rem;
  justify-content: center;
}

.swipe-explaination {
  display: none;
}

@media screen and (min-width: 480px) {
  .swipe-explaination {
    display: block
  }
}

/* WHO */

.who {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 40rem;
  border-radius: 1rem;

  align-items: flex-start;
}

.who input {
  font-size: 2rem;
  background-color: #233A59;
  border: none;
  border-radius: 1rem;
  padding: 1rem;

  color: white;
}

.who label {
  font-size: 2rem;
}
